{% extends '_has_session.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/vertical-align-container.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css"/>
{% endblock css %}

{% block cont %}
<div class="vertical-align-container" ng-controller="IndexCtrl">
    <div class="box">
        <div class="content text-center">
            <div ng-class="{'none':options.showDeleteAccount}">
                <h3 class="text-center">Select an option</h3>
                <button class="btn btn-primary btn-block">Flights assignment</button>
                <button class="btn btn-primary btn-block">Flights observation</button>
                <button class="btn btn-primary btn-block">State change</button>
                <button class="btn btn-primary btn-block">Flights list</button>
                <button class="btn btn-danger btn-block" ng-click="options.showDeleteAccount=true">Delete account</button>
            </div>
            <div class="none" ng-cloak="" ng-class="{'none':!options.showDeleteAccount}">
                <p class="text-left">
                    <button class="btn btn-link" ng-click="options.showDeleteAccount=false">back</button>
                </p>
                <button class="btn btn-danger btn-block">I want to delete my account</button>
            </div>
        </div>
    </div>
</div>
{% endblock cont %}

{% block js %}
    <script src="{{ STATIC_URL }}js/controllers/indexctrl.js"></script>
{% endblock js %}

