{% load djangular_tags %}<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Users Administrator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css"/>
    {% block css %} {% endblock %}
</head>
<body ng-app="usersSystem">
    <div class="container">
        {% block container %}{% endblock %}
    </div>
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular.min.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>
    {% block js %}{% endblock %}
</body>
</html>
