{% extends 'layout.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css"/>
{% endblock css %}

{% block container %}
<div class="login-container" ng-controller="LoginCtrl">
    <div class="box">
        <div class="content text-center">
            <form>
                <h3 class="text-center">Login</h3>
                <p><label for="username">Username</label></p>
                <p class="input"><input class="form-control" placeholder="Username" ng-model="username" type="text"/></p>
                <p><label for="password">Password</label></p>
                <p class="input"><input class="form-control" placeholder="Password" ng-model="password" type="password"/></p>
                <p><button class="btn btn-primary btn-block" ng-click="submit()">Login</button></p>
            </form>
        </div>
    </div>
</div>
{% endblock container %}

{% block js %}
    <script src="{{ STATIC_URL }}js/controllers/loginctrl.js"></script>
{% endblock js %}