{% extends '_layout.html' %}
{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/vertical-align-container.css"/>
{% endblock css %}
{% block container %}
<div class="vertical-align-container" ng-controller="IndexCtrl">
    <div class="box">
        <div style="width: 70%; padding:10px 45px 45px" class="content text-center">
            <p class="text-left none" ng-class="{'none':options.page=='index'}">
                <button class="btn btn-link" ng-click="options.page='index'">Index</button>
            </p>
            <div ng-class="{'none':options.page!='index'}">
                <h3 class="text-center">Select an option</h3>
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-primary btn-block" ng-click="options.page='create-airport'">Create airport</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-primary btn-block" ng-click="options.page='create-flight'">Create flight</button>
                    </div>
                </div>
            </div>
            <div class="none" ng-class="{'none':options.page!='create-airport'}">

            </div>
            <div class="none" ng-class="{'none':options.page!='create-flight'}">

            </div>
        </div>
    </div>
</div>
{% endblock container %}

{% block js %}
    <script src="{{ STATIC_URL }}js/controllers/indexctrl.js"></script>
{% endblock js %}