
.login-container .content p.input {
    text-align: center;
    margin-bottom: 15px;
}

.login-container .content p {
    text-align: left;
    margin-bottom: 0px;
}

.login-container .btn-link {
    padding-right: 0;
}
