{% load djangular_tags %}
<!DOCTYPE html>
<html ng-app="users-system">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css"/>
</head>
<body>
    <div class="container">
        {% block container %}{% endblock %}
    </div>
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/angular.min.js"></script>
</body>
</html>